*.pyc
/README*.html
*.class
build/
dist/
env/
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb
*.bak
*~
mem.*
*.log
JayDeBeApi.egg-info
target/
.classpath
.project
.tox
.coverage
*.iml
.idea/
