*.pyc
/README*.html
*.class
/build
/dist
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb
.idea
*.bak
*~
mem.*
*.log
JayDeBeApi.egg-info
/mockdriver/target
/mockdriver/.classpath
/mockdriver/.project
